@font-face {
    font-family: 'comfortaaregular';
    src: url('/fonts/comfortaa-variablefont_wght-webfont.eot');
    src: url('/fonts/comfortaa-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/comfortaa-variablefont_wght-webfont.woff2') format('woff2'), url('/fonts/comfortaa-variablefont_wght-webfont.woff') format('woff'), url('/fonts/comfortaa-variablefont_wght-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-size: 14pt;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 80%;
    align-items: end;
    background: url("/img/bg-2.jpg") center/cover fixed;
}

#heading {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: blueviolet;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ccc;
    padding: 1%;
    border-style: solid;
    border-color: aliceblue;
    border-width: 10px;
}

#errorMsg {
    color: red;
}

#red {
    grid-row: 2/ span 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 20%;
    margin-top: -10%;
}

#form {
    background-color: rgba(209, 165, 209, 0.692);
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font-family: sans-serif;
    outline-offset: 0.5rem;
    margin-left: 10%;
    margin-right: -20%;
    margin-top: -21%;
 
}

#hero {
    grid-row: 2/ span 1;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgba(209, 165, 209, 0.692);
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font-family:sans-serif;
    outline-offset: 0.5rem;
    margin-left: 40%;
    margin-right: -20%;
    margin-top: -12%;
   
}

#hero img {
    margin-left: 30%;
    height: 25%;
    width: 30%;
    margin-top: 3%;
}

#new {
    background: url("/img/menu.jpg");
    background-size: 100% 100%;
}

#new1 {
    color: cornsilk;
    margin-left: 20%;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}

h3 {
    color: white;
    margin-left: 20%;
}

li {
    color: aliceblue;
    padding: 2%;
    margin-left: 30%;
}

footer {
    grid-row: 5 / 5;
    grid-column: 1 / span 5;
    color:black;
    font-size: 20px;
    width:95%;
    background-color: antiquewhite;
}
footer a{
    color:blue
}
#p{
    margin-left: 5%;
}


#loginForm {
    color: white;
    text-align: center;
}

#Title {
    font-size: 20px;
    background-color: black;
    padding: 2%;
    border-style: inset;
    border-color: antiquewhite;
}

#loginForm a {
    color: #3f14fde0;
    font-size: 20px;
}

input[type=text],
input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#submit {
    background-color: blue;
    color: aliceblue;
    padding: 2%;
}

#submit:hover {
    background-color: black;
}

a {
    color: #e83e8c;
}

@media screen and (max-width:1200px) {
    body {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% 40%;
        align-items: end;
        background: url("/img/bg-2.jpg") center/cover fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #heading {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background-color: blueviolet;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ccc;
        border-style: solid;
        border-color: aliceblue;
        border-width: 10px;
        font-size: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
    #errorMsg {
        color: red;
    }
    #red {
        grid-row: 2/ span 1;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 2%;
    }
    #form{
        background-color: rgba(209, 165, 209, 0.692);
        border: 0.5rem outset pink;
        outline: 0.5rem solid khaki;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 12px;
        font-family:  sans-serif;
        outline-offset: 0.5rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #hero {
        grid-row: 3/ span 1;
        grid-column-start: 1;
        grid-column-end: 1;
        background-color: rgba(209, 165, 209, 0.692);
        border: 0.5rem outset pink;
        outline: 0.5rem solid khaki;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 12px;
        font-family:sans-serif;
        outline-offset: 0.5rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    #hero img {
        margin-left: 30%;
        height: 20%;
        width: 20%;
        margin-top: 3%;
    }
    #new {
        background: url("/img/menu.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 5%;
    }
    #new1 {
        color: cornsilk;
        margin-left: 20%;
        text-decoration: underline;
        font-weight: bolder;
        font-size: 18px;
    }
    h3 {
        color: white;
        margin-left: 20%;
    }
    li {
        color: aliceblue;
        padding: 2%;
        margin-left: 30%;
    }
    footer {
        grid-row: 5 / 5;
        grid-column: 1 / span 5;
        color:black;
        font-size: 20px;
        width:95%;
        background-color: antiquewhite;
    }
    footer a{
        color:blue
    }
    #p{
        margin-left: 5%;
    }
    
    #loginForm {
        color: white;
        text-align: center;
    }
    #Title {
        font-size: 20px;
        background-color: black;
        padding: 2%;
        border-style: inset;
        border-color: antiquewhite;
    }
    #loginForm a {
        color: #3f14fde0;
        font-size: 20px;
    }
    input[type=text],
    input[type=password] {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    #submit {
        background-color: blue;
        color: aliceblue;
        padding: 2%;
    }
    #submit:hover {
        background-color: black;
    }
    a {
        color: #e83e8c;
    }
    #odaea {
        background-color: rgba(0, 0, 0, 0.48);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 5px 10px -3px rgba(0, 0, 0, 0.13);
        border-radius: 1em;
        backdrop-filter: blur(6px);
        border-style: solid;
        border-color: aliceblue;
        border-width: 10px;
    }
}

@media screen and (max-width:800px) {
    body {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% 40%;
        align-items: end;
        background: url("/img/bg-2.jpg") center/cover fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #heading {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background-color: blueviolet;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ccc;
        border-style: solid;
        border-color: aliceblue;
        border-width: 10px;
        font-size: 11px;
        margin-left: 2%;
        margin-right: 2%;
    }
    #errorMsg {
        color: red;
    }
    #red {
        grid-row: 2/ span 1;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 2%;
    }
    #form {
        background-color: rgba(209, 165, 209, 0.692);
        border: 0.5rem outset pink;
        outline: 0.5rem solid khaki;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 12px;
        font-family:  sans-serif;
        outline-offset: 0.5rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 20%;
    }
    #hero {
        grid-row: 3/ span 1;
        grid-column-start: 1;
        grid-column-end: 1;
        background-color: rgba(209, 165, 209, 0.692);
        border: 0.5rem outset pink;
        outline: 0.5rem solid khaki;
        box-shadow: 0 0 0 2rem skyblue;
        border-radius: 12px;
        font-family: sans-serif;
        outline-offset: 0.5rem;
        margin-left: 15%;
        margin-right: 15%;
    }
    #hero img {
        margin-left: 30%;
        height: 20%;
        width: 20%;
        margin-top: 3%;
    }
    #new {
        background: url("/img/menu.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 5%;
    }
    #new1 {
        color: cornsilk;
        margin-left: 10%;
        text-decoration: underline;
        font-weight: bolder;
        font-size: 18px;
    }
    h3 {
        color: white;
        margin-left: 10%;
    }
    li {
        color: aliceblue;
        padding: 2%;
        margin-left: 10%;
    }
    footer {
        grid-row: 5 / 5;
        grid-column: 1 / span 5;
        color:black;
        font-size: 10px;
        width:95%;
        background-color: antiquewhite;
    }
    footer a{
        color:blue
    }
    #p{
        margin-left: 5%;
    }
    
    #loginForm {
        color: white;
        text-align: center;
    }
    #Title {
        font-size: 20px;
        background-color: black;
        padding: 2%;
        border-style: inset;
        border-color: antiquewhite;
    }
    #loginForm a {
        color: #3f14fde0;
        font-size: 20px;
    }
    input[type=text],
    input[type=password] {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    #submit {
        background-color: blue;
        color: aliceblue;
        padding: 2%;
    }
    #submit:hover {
        background-color: black;
    }
    a {
        color: #e83e8c;
    }
}